aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
deprecation
dnspython
dotenv
faiss-cpu
fastapi
frozenlist
geographiclib
geojson
geopy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
gotrue
greenlet
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httpx
httpx-sse
hyperframe
idna
iniconfig
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
multidict
mypy_extensions
narwhals
numpy
orjson
overpass
packaging
pandas
pillow
pluggy
postgrest
propcache
proto-plus
protobuf
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyJWT
pymongo
pyparsing
PyPDF2
pytest
pytest-mock
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
realtime
referencing
requests
requests-toolbelt
rpds-py
rsa
scikit-learn
scipy
shapely
six
smmap
sniffio
SQLAlchemy
starlette
storage3
streamlit
StrEnum
supabase
supafunc
tenacity
threadpoolctl
toml
tornado
tqdm
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchdog
websockets
yarl
zstandard